=content_for :title do
  %h1
    = @vehicle
    %small #{@vehicle.year} #{@vehicle.color} #{@vehicle.make} #{@vehicle.model}

= link_to "New Fillup", new_fillup_path(@vehicle)
=render partial: 'fillups/fillups_table', locals: { fillups: @vehicle.fillups }

